<footer>
    <hr>
    <br>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true}}
        {{> link text=phone.text href=phone.href blank=true }}
        {{> link text=linkedin.text href=linkedin.href blank=true line=true}}
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copyrigt by {{name}} {{lastname}} </em>
    </div>
    <br>
    <div>
        <em>
            {{address}}
        </em>
    </div>
</footer>